/* DESKTOP */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.root-container{
    border-radius: 0px;
    position: absolute;
    width: 100vw;
    overflow: scroll;
    height: fit-content;
    background: #D7D7D7;
}
/* Headers */
  /* Desktop */
  .header{
    width: 100vw;
    height: fit-content;
    padding: 20px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .header > span{
      height: 8px;
      width: 50%;
      background-color: #000000;
  }
  .header > div{
    border: 8px solid #000000;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 10px;
    padding: 10px 15px 10px 25px;
    white-space: nowrap;
    color: #000000;
  }
/* Intro */
    /* Desktop */
.intro-container{
    width: 100vw;
    height: 100vh;
    background: #D7D7D7;
    background: linear-gradient(100deg, #D7D7D7 0%, #D7D7D7 52.9%, black 53%, black 53%);
    display: flex;
    flex-direction: row;

}
.intro-container-left{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
}
.intro-name, .intro-phrase, .intro-title{
    font-family: 'Raleway';
    font-style: normal;
    
}
.intro-name-title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10vh;
}
.intro-phrase{
   
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    padding-bottom: 5vh;
}
.intro-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-align: left;
    color: #000000;
}
.intro-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    text-align: center;

    color: #919191;
}
.intro-contacts{
     display: flex;
     
}
.intro-contacts > div{
    margin-right: 30px;
    padding: 8px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.resume-download:hover .resume-download-tooltip{
    display: block;
}
.resume-download-tooltip{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    display: none;
    width: 120px;
    background-color: black;
    color: #D7D7D7;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.intro-container-right{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-picture{
    width: 300px;
    height: 500px;
    background: url(test.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Mobile */
@media (max-width:900px){
    .intro-container{
        width: 100vw;
        height: 100vh;
        background: #000000;
        display: flex;
        flex-direction: column-reverse;

    
    }
    .intro-container-left{
        width: 100vw;
        height: 25vh;
        position: absolute;
        top: 75vh;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.56);;
    }
    .intro-container-left::before{
        content: "";
        position: absolute;
        top: -12vh;
        width: 0; 
        height: 0; 
        border-bottom: 12vh solid rgba(0, 0, 0, 0.56);; /* Fallback for older browsers without RGBA-support */
        border-left: 100vw solid transparent;
  
  
    }
    .intro-words-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 5vh;
        padding-left: 10vw;
        height: 100%;
        width: 75%;
        
    }
    .intro-name, .intro-phrase, .intro-title{
        font-family: 'Raleway';
        font-style: normal;
        
    }
    .intro-name-title-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 0px 5px 0px;
    }
    .intro-phrase{
       
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 4vw;
        display: flex;
        padding: 0;
        align-items: flex-end;
        text-align: center;

        
        color: #FFFFFF;
    }
    .intro-name{
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 8vw;
        /* identical to box height */

        text-align: left;
        padding-bottom: 2px;
        color: #FFFFFF;
    }
    .intro-title{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 3vw;
        text-align: center;
        padding: 0;
        color: #FFFFFF;
    }
    .intro-contacts{
         display: flex;
         z-index: 5;
         flex-direction: column;
         align-items: flex-end;
         justify-content: flex-end;
         padding-bottom: 5vh;
         width: 25%;
         height: 35vh;
         margin-top: -10vh;
         
    }
    .intro-contacts > div{
        height: 40px;
        width: 40px;
        margin-right: 10px;
        padding: 8px;
        margin-top: 12px;
        background: inherit;
        color: #FFFFFF;
        box-shadow: none;
    
    }
    .resume-download:hover .resume-download-tooltip{
        display: block;
    }
    .resume-download-tooltip{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        display: none;
        width: 120px;
        background-color: black;
        color: #D7D7D7;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
    }
    .intro-container-right{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }
    .intro-picture{
        width: 100%;
        height: 100%;
        background: url(test.png);
        background-repeat: no-repeat;
        background-size:cover;
    }
    
}

/* SKILLS */
    /* Desktop  */
    .skills-container{
        height: 100vh;
        width: 100vw;
        
    }

/* ABOUT ME */
    /* Desktop */
.about-container{
    height: 100vh;
    width: 100vw;
    
}
/* Projects */
    /* Desktop */
.projects-container{
    height: 100vh;
    width: 100vw;
    
}